<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Status</title>
</head>
<body>

<div id="max">
    <h3>Peso Massimo: <span id="maxVal" style="color: limegreen">0</span></h3>
</div>
<div id="cur">
    <h3>Peso Corrente: <span id="curVal" style="color: limegreen">0</span></h3>
</div>
<div id="res">
    <h3>Peso Prenontato: <span id="resVal" style="color: limegreen">0</span></h3>
</div>
<div id="pos">
    <h3>Ultima posizione conosciuta: <span id="posVal" style="color: limegreen">(0.0)</span></h3>
</div>
<div id="rej">
    <h3>Richieste rifiutate: <span id="rejVal" style="color: limegreen">0</span></h3>
</div>
<div id="state">
    <h3>Stato robot: <span id="stateVal" style="color: limegreen">non attivo</span></h3>
</div>
<div id="other">
    <h3>Altro: <span id="otherVal" style="color: limegreen">nessuna informazione</span></h3>
</div>
<hr>
<h3>Messaggi:</h3>
<div class="display-info" id="messageArea">
</div>

<script src="../main.js"></script>
<script>connect()</script>
</body>
</html>